**__pycache__**
.DS_Store
*.pyc
*.idea/
*.so
*.o
data/
dataset/
log/
result/
scripts/
weights
*_compile.sh
*_ext*
**/build
*.bak
**/*.egg-info
**/dist
configs
scripts
tensorflow-1.4.0-cp36-cp36m-linux_x86_64.whl
